// Wordpress WYSIWYG editor styles
.entry {
    p {
        font-family: var(--font-2);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.55;
        margin-bottom: 15px;
        @include breakpoint(tablet-lg) {
            font-size: 16px;
        }
        @include breakpoint(desktop-xlg) {
            font-size: 20px;
            margin-bottom: 20px;
        }
        strong {
            font-weight: 700;
        }
    }
    strong {
        font-weight: 700;
    }
    em {
        font-style: italic;
    }
    hr {
        border-bottom: none;
        border-color: var(--color-black);
        margin-bottom: 30px;
    }
    a {
        font-family: var(--font-2);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.55;
        color: var(--color-primary);
        @include breakpoint(tablet-lg) {
            font-size: 16px;
        }
        @include breakpoint(desktop-xlg) {
            font-size: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    h1, h2, h3, h4, h5, h6 {
      line-height: 95%;
      margin-bottom: 20px;
      margin-top: 20px;
    @include breakpoint(tablet-lg) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    @include breakpoint(desktop-xlg) {
        margin-top: 35px;
        margin-bottom: 35px;
      }
    }
    h1, h2, h3 {
        font-family: var(--font-3);
        font-weight: 400;
    }
    h4, h5, h6 {
        font-size: 16px;
        font-family: var(--font-2);
    	@include breakpoint(tablet-lg) {
            font-size: 22px;
        }
    	@include breakpoint(desktop-xlg) {
            font-size: 28px;
        }
    }
    h1 {
        font-size: 27px;
    	@include breakpoint(tablet-lg) {
            font-size: 38px;
        }
    	@include breakpoint(desktop-xlg) {
            font-size: 50px;
        }
    }
    h2 {
        font-size: 26px;
        strong {
          color: var(--color-sextary);
        }
    	@include breakpoint(tablet-lg) {
            font-size: 36px;
        }
    	@include breakpoint(desktop-xlg) {
            font-size: 48px;
        }
    }
    h3 {
        font-size: 18px;
        text-transform: uppercase;
        background-color: var(--color-sextary);
        color: #fff;
        display: inline-block;
        padding: 4px;
    	@include breakpoint(tablet-lg) {
            font-size: 24px;
        }
    	@include breakpoint(desktop-xlg) {
            font-size: 30px;
        }
    }
    h4 {
      color: var(--color-sextary);
      font-weight: 800;
    }
    ul, ol {
        font-family: var(--font-2);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.55;
        margin-left: 30px;
        @include breakpoint(tablet-lg) {
            font-size: 16px;
            margin-bottom: 30px;
        }
        @include breakpoint(desktop-xlg) {
            font-size: 20px;
        }
        li {
            margin-bottom: 12px;
        }
    }
    ul {
      list-style: none;
        li {
            &::before {
              content: "\2022";
              margin-left: -20px;
              width: 20px;
              font-weight: bold;
              display: inline-block;
              color: var(--color-sextary);
            }
        }
    }
    ol {
      list-style: none;
      counter-reset: section;
        li {
            &::before {
              content: counters(section, ".") ". ";
              color: var(--color-sextary);
              counter-increment: section;
              font-weight: bold;
              display: inline-block;
              margin-left: -25px;
              margin-right: 10px;
              font-size: 16px;
              font-family: var(--font-5);
              letter-spacing: -3px;
            }
        }
    }
    // blockquote {
    //     font-family: var(--font-3);
    //     font-weight: 400;
    //     color: var(--color-primary);
    //     width: 60%;
    //     letter-spacing: -.05em;
    //     line-height: 1.05;
    //     font-size: 28px;
    //     margin: 30px 0;
    // 	@include breakpoint(tablet-lg) {
    //         font-size: 35px;
    //     }
    //     @include breakpoint(desktop-xlg) {
    //         margin: 40px 0;
    //         font-size: 40px;
    //         width: 50%;
    //     }
    //     strong {
    //         font-weight: 900;
    //     }
    //     p {
	  //       font-size: 22px;
	  //       font-weight: 700;
	  //   	@include breakpoint(tablet-lg) {
	  //           font-size: 40px;
	  //       }
	  //   }
    // }
    .impulsa-quote {
      blockquote {
        font-family: var(--font-2);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.55;
        margin-bottom: 15px;
        border: 2px solid #edb652;
        padding: 15px;
        @include breakpoint(tablet-lg) {
            font-size: 16px;
        }
        @include breakpoint(desktop-xlg) {
            font-size: 20px;
            margin-bottom: 20px;
            padding: 20px;
        }
        strong {
            font-weight: 700;
        }
      }
    }
    .impulsa-content-snippet {
      display: flex;
      align-items: center;
      border-left: 2px solid var(--color-sextary);
      margin-top: 30px;
      margin-bottom: 30px;
      .snippet-icon {
        flex: 0 0 auto;
        padding: 0 20px;
        img {
          width: 50px;
          height: auto;
          margin: 0;
          display: block;
        }
      }
      .snippet-content {
        flex: 1 1 100%;
        h4 {
          color: var(--color-text);
          margin: 0 0 5px;
          font-size: 16px;
          a {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
          }
        }
        p {
          margin: 0;
          font-size: 14px;
        }
      }
      @include breakpoint(desktop-xlg) {
          margin-top: 40px;
          margin-bottom: 40px;
          .snippet-icon {
            padding: 0 40px;
            img {
              width: 70px;
            }
          }
          .snippet-content {
            h4 {
              font-size: 18px;
            }
            p {
              font-size: 16px;
            }
          }
      }
    }
    a.impulsa-button {
      font-family:"Open Sans Condensed", Arial;
      font-weight: 700;
      text-decoration: none;
    }
    table {
        width: 100%;
        margin-bottom: 20px;
    	@include breakpoint(tablet-lg) {
            margin-bottom: 30px;
        }
        td, th {
            padding: 15px;
            text-align: center;
            font-size: 15px;
            color: var(--color-black);
            letter-spacing: -0.01em;
        }
        th {
            background-color: var(--color-black);
            color: var(--color-white);
            font-weight: 700;
        }
        tr {
            td {
                background-color: var(--color-white);
            }
            &:nth-child(odd) {
                td {
                    background-color: darken(#FFFFFF, 5%);
                }
            }
        }
    }
    img {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        height: auto;
    	@include breakpoint(tablet-lg) {
            width: auto;
        	margin-bottom: 30px;
        }
    }
	.size-full {
	    width: 100%;
	    height: auto;
	    margin-bottom: 20px;
    	@include breakpoint(tablet-lg) {
	        margin-bottom: 30px;
	    }
    }
    &.entry--m-bottom {
        margin-bottom: 20px;
        @include breakpoint(tablet-lg) {
            margin-bottom: 40px;
        }
        @include breakpoint(desktop-xlg) {
            margin-bottom: 50px;
        }
    }
    &.entry--m-bottom-md {
        margin-bottom: 30px;
        @include breakpoint(tablet-lg) {
            margin-bottom: 60px;
        }
        @include breakpoint(desktop-xlg) {
            margin-bottom: 70px;
        }
    }
    &.entry--m-top {
        margin-top: 15px;
        @include breakpoint(tablet-lg) {
            margin-top: 25px;
        }
        @include breakpoint(desktop-xlg) {
            margin-top: 30px;
        }
    }
}

.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
 }
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.wp-caption-text {
    font-family: var(--font-2);
    font-size: 11px;
    font-weight: 400;
    line-height: 1.65;
    color: var(--color-black);
    text-align: left;
    @include breakpoint(tablet-lg) {
        font-size: 13px;
    }
    @include breakpoint(desktop-xlg) {
        font-size: 14px;
    }
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}
